﻿@model Seccion.Web.Models.ViewModels.MyDataViewModel
@{
	ViewBag.Title = "MyUserData";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
	<div class="col-12">
		<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
			<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
			<div class="card border-0 h-100" id="card-8">
				<div class="card-header  brc-dark-l2">
					<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
						<i class="fa fa-info-circle text-blue-m2 mr-3px" aria-hidden="true"></i>
						Mis Datos
					</h5>
					<div class="card-toolbar">
						<a class="btn btn-wide btn-warning btn-h-outline-warning btn-a-outline-warning border-2 mb-1" href="@Url.Action("EditMyData", "AccountUser")/@Model.Id">
							<i class="fa fa-user-edit text-110 mr-2" aria-hidden="true"></i>
							Editar Datos
						</a>
					</div>
				</div><!-- /.card-header -->

				<div class="card-body bg-white p-0 collapse show">
					<br />

					<div class="p-3">
						<div class="row mt-5">
							<div class="col-12 px-4 mb-3">

								<div class="bgc-white px-1 bo1rder-1 brc-secondary-l2 radius-1">
									<table class="table table table-striped-success table-borderless" aria-hidden="true">
										<tbody>
											<tr>
												<td><i class="fa fa-user text-success-l1" aria-hidden="true"></i></td>
												<td class="text-95 text-default-d3">Nombre de Usuario</td>
												<td class="text-secondary-d2">@Model.UserName</td>
											</tr>
											<tr>
												<td><i class="fa fa-address-book text-blue-m3" aria-hidden="true"></i></td>
												<td class="text-95 text-default-d3">Nombre</td>
												<td class="text-secondary-d2 text-wrap">@Model.Name @Model.FirstName @Model.LastName</td>
											</tr>
											<tr>
												<td><i class="far fa-envelope text-secondary-m3" aria-hidden="true"></i></td>
												<td class="text-95 text-default-d3">Email</td>
												<td class="text-secondary-d2">@Model.Email</td>
											</tr>
											<tr>
												<td><i class="fa fa-phone text-secondary-m3" aria-hidden="true"></i></td>
												<td class="text-95 text-default-d3">Número Telefonico</td>
												<td class="text-secondary-d2">@Model.PhoneNumber</td>
											</tr>
											<tr>
												<td><i class="fa fa-birthday-cake text-secondary-m3" aria-hidden="true"></i></td>
												<td class="text-95 text-default-d3">Fecha de Nacimiento</td>
												<td class="text-secondary-d2">@Model.BirthDate</td>
											</tr>
											<tr>
												<td><i class="fa fa-venus-mars text-secondary-m3" aria-hidden="true"></i></td>
												<td class="text-95 text-default-d3">Genero</td>
												<td class="text-secondary-d2">@(Model.Gender== "1" ? "MUJER" : "HOMBRE")</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>


						</div>
					</div>
					<br />
					<br />
				</div><!-- /.card-body -->
			</div>
			<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
		</div>

	</div>
</div>


