﻿@model Seccion.Web.Models.ViewModels.RequestViewModel

@{
	ViewBag.Title = "EditRequest";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
	<div class="col-12">
		<form id="formRequest" class="" method="post" action="/Request/EditRequest" role="form" novalidate="" autocomplete="off">
			@Html.AntiForgeryToken()
			<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
				<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
				<div class="card border-0 h-100" id="card-8">
					<div class="card-header  brc-dark-l2">
						<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
							<i class="fa fa-table mr-2px" aria-hidden="true"></i>
							Editar Datos de la Solicitud
						</h5>
					</div><!-- /.card-header -->

					<div class="card-body bg-white p-0 collapse show">
						<br />
						@Html.HiddenFor(model => model.TbRequestId)
						@Html.HiddenFor(model => model.DateInsert)
						@Html.HiddenFor(model => model.UserInsert)
						@Html.HiddenFor(model => model.DateCreateRequest)
						@Html.HiddenFor(model => model.RequestNumber)
						@Html.HiddenFor(model => model.Location)
						<div class="p-3">
							<div class="row">
								<div class="col-12">
									<div class="form-inline" >
										<div class="form-group mr-2">
											<label class="font-bolder mr-2">No Solicitud:</label>
											@*<input type="email" class="form-control" id="inputEmail" placeholder="Email" required>*@
											<label >@Model.RequestNumber</label>
										</div>
										<div class="form-group mr-2">
											<label class="font-bolder mr-2" >Fecha de Creación:</label>
											@*<input type="password" class="form-control" id="inputPassword" placeholder="Password" required>*@
											<label >@Model.DateCreateRequest</label>
										</div>
									</div>
								</div>

							</div>
							<hr />
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.TbEmployeeId, htmlAttributes: new { @class = "font-bolder" })
										@Html.DropDownListFor(model => model.TbEmployeeId, new List<SelectListItem>(), htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccionar" })
									</div>
									<div class="form-group">
										@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "font-bolder" })
										@*@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
										<input class="form-control text-left" id="Amount" name="Amount" value="@Model.Amount.Replace(",",".")" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric">
									</div>
									<div class="form-group">
										@Html.LabelFor(model => model.PaymentsPeriod, htmlAttributes: new { @class = "font-bolder" })
										@*@Html.EditorFor(model => model.PaymentsPeriod, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
										<input class="form-control" id="PaymentsPeriod" name="PaymentsPeriod" value="@Model.PaymentsPeriod" required="required" data-inputmask="'mask': '9', 'repeat': 10, 'greedy' : false" />
									</div>
									<div class="form-group">
										@Html.LabelFor(model => model.DiscountRate, htmlAttributes: new { @class = "font-bolder" })
										@*@Html.EditorFor(model => model.DiscountRate, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
										<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">

											<input class="form-control " id="DiscountRate" name="DiscountRate" required="required" value="@Model.DiscountRate.Replace(",",".")" type="text" >
											@*@Html.EditorFor(model => model.DiscountRate, new { htmlAttributes = new { @class = "form-control", required = "required", value = "0.0" } })*@

										</div>
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.AdditionalMonths, htmlAttributes: new { @class = "font-bolder" })
										@Html.EditorFor(model => model.AdditionalMonths, new { htmlAttributes = new { @class = "form-control", required = "required" } })
									</div>

								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.AdministrationExpenses, htmlAttributes: new { @class = "font-bolder" })
										<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
											<input class="form-control " id="AdministrationExpenses" name="AdministrationExpenses" value="@Model.AdministrationExpenses.Replace(",",".")" type="text">
											@*@Html.EditorFor(model => model.AdministrationExpenses, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
										</div>

									</div>
									<div class="form-group">
										@Html.LabelFor(model => model.AdministrationExpensesResult, htmlAttributes: new { @class = "font-bolder" })

										@Html.EditorFor(model => model.AdministrationExpensesResult, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
									</div>
									<div class="form-group">
										@Html.LabelFor(model => model.AbonoCatorcenalMensual, htmlAttributes: new { @class = "font-bolder" })
										@Html.EditorFor(model => model.AbonoCatorcenalMensual, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
									</div>
									<div class="form-group">
										@Html.LabelFor(model => model.TotalPay, htmlAttributes: new { @class = "font-bolder" })
										@Html.EditorFor(model => model.TotalPay, new { htmlAttributes = new { @class = "form-control", @id = "TotalPay", @readonly = "readonly" } })
									</div>
									<div class="form-group">
										<label class="font-bolder">Realizar Canculo</label>
										<button id="btnCalcular" type="button" class="btn btn-md btn-app btn-danger btn-block  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold text-uppercase">
											<span class="bgc-white-tp9 shadow-sm radius-2px px-25 mr-25 ">
												<i class="fa fa-calculator text-white-tp2 text-110 mt-3px" aria-hidden="true"></i>
											</span>
											realizar calculo
										</button>
									</div>
								</div>
								<div class="col-md-4">

									<div class="div-aval form-group">
										@Html.LabelFor(model => model.AvalKey, htmlAttributes: new { @class = "font-bolder" })
										@Html.DropDownListFor(model => model.AvalKey, new List<SelectListItem>(), "", htmlAttributes: new { @class = "form-control border-l-4", @data_placeholder = "Seleccione" })
										@*@Html.DropDownList("AvalKey", null, "", htmlAttributes: new { @class = "form-control", @data_placeholder = "Seleccionar" })*@
									</div>
									<div class="div-aval form-group">
										@Html.LabelFor(model => model.DebitAval, htmlAttributes: new { @class = "font-bolder" })

										@*@Html.EditorFor(model => model.DebitAval, new { htmlAttributes = new { @class = "form-control", } })*@
										<input class="form-control text-left" id="DebitAval" name="DebitAval" value="@Model.DebitAval.Replace(",",".")" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "font-bolder" })
										@Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control border-l-4", maxlength = "400" } })
									</div>
								</div>
							</div>

						</div>
						<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
							<a href="@Url.Action("ListRequest","Request")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3 text-uppercase">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
								</span>
								regresar
							</a>
							<button type="submit" class="btn btn-danger  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold text-uppercase">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-save text-white-tp2 text-160" aria-hidden="true"></i>
								</span>
								guardar
							</button>
						</div>

					</div><!-- /.card-body -->
				</div>
				<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
			</div>
		</form>
	</div>
</div>
@section PageCrumb{

	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		<a href="@Url.Action("ListRequest","Request")">Relación de Solicitudes</a>
	</small>
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		Editar Solicitud
	</small>
}
@section styles{

	<link href="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.css" rel="stylesheet" />
}

@section scripts {
	<script src="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.jquery.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/formatCurrency/jquery.formatCurrency-1.4.0.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/inputmask/jquery.inputmask.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/inputmask/inputmask.binding.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
	<script type="text/javascript">

		$(function () {
			//aplicamos el pluging a los select´s
			$(".chosen").chosen({
			});
			var _getValue = JSON.parse("@(Model.AvalName == null && Model.AvalKey==null ? "false" : "true")");
			if (_getValue)
			{
				$(".div-aval").show();
			} else {
				$(".div-aval").hide();
			}
			$("#AdministrationExpenses,#DiscountRate").TouchSpin({
				initval: "",
				min: 0,
				max: 100,
				step: 0.01,
				decimals: 2,
				boostat: 1,
				maxboostedstep: 1,
				postfix: '%',

				buttondown_class: 'btn btn-danger',
				buttonup_class: 'btn btn-success',

				buttondown_txt: '<i class="fa fa-minus"></i>',
				buttonup_txt: '<i class="fa fa-plus"></i>',
			});
			$("#AdministrationExpensesResult").formatCurrency();
			$("#TotalPay").formatCurrency();
			$("#AbonoCatorcenalMensual").formatCurrency();
			//$("#DebitAval").formatCurrency();
			ValidatorForm("formRequest", "Este campo es requerido", "Éxito");
			LoadFichas();
		});
		var listConjunto = [];
		var listCategoria = [];
		var ubicacion = 0;

		$('#TbEmployeeId').change(function (evt) {
			ShowAbal();
			//para quitar el mensaje de validación al seleccionar un valor
			$(evt.target).valid();
		});

		$("#btnCalcular").on("click", function (e) {

			e.preventDefault();
			$('#formRequest').validate({
				errorClass: "field-validation-valid text-danger",
				validClass: "state-success",
				errorElement: "span",
				rules: {
					EmpleadoID: "required",
					Monto: "required",
					PeriodoPagos: {
						required: true
					},
					TasaDescuento: {
						required: true
					},
					GastosAdministracion: {
						required: true
					},
					MesesAdicionales: {
						required: true
					}
				},
				messages: {
					EmpleadoID: "Debe de seleccionar una ficha",
					Monto: "Debe ingresar un monto es requerido",
					PeriodoPagos: {
						required: "Debe ingresar un perido de pagos es requerido"
					},
					TasaDescuento: {
						required: "Debe ingresar un descuento es requerido"
					},
					GastosAdministracion: {
						required: "Debe ingresar un porcentaje es requerido"
					},
					MesesAdicionales: "Debe ingresar un mes adicional es requerido"
				}

			});
			//if ($('#formRequest').valid()) {
				calculadora();
			//}

		});

		function LoadFichas() {
			$.ajax({
				"async": true,
				"url": "@Url.Action("GetEmployeeAval", "Request")",
				type:"json",
				"method": "GET",
			}).done(function (response) {

				$.each(response, function (key, value) {

					listConjunto.push({ Ficha: value.NumberFicha, Name: value.NameEmployee });
					listCategoria.push({ Ficha: value.NumberFicha, Situacion: value.ContractualSituation, Ubicacion: value.WorkLocation });

				});

				$('#TbEmployeeId').append($('<option>', { value: "" }).text("Seleccione"));
				$.each(listConjunto, function (key, value) {

					$('#TbEmployeeId').append($("<option></option>").attr("value", value.Ficha).text(value.Name));
				});
				$('#TbEmployeeId').chosen({ allow_single_deselect: true, width: '100%' });
				$("#TbEmployeeId").val("@Model.Ficha").trigger("chosen:updated");

				if ("@Model.AvalKey" !== "" || "@Model.AvalKey" !== null) {

					var data = $.grep(listConjunto, function (e) {
						return e.Ficha !== "@Model.Ficha";
					});
					$.each(data, function (key, value) {

						$('#AvalKey').append($("<option></option>").attr("value", value.Ficha).text(value.Name));

					});

					$('#AvalKey').chosen({ allow_single_deselect: true, width: '100%' });
					$("#AvalKey").val("@Model.FichaAval").trigger("chosen:updated");
					ubicacion = 2;
				} else {
					ubicacion = 1;
				}

			}).fail(function (jqXHR, textStatus, err) {
				MessageError(jqXHR, textStatus, err, Title, "LnkMessage");
			});
		}
		function ShowAbal() {

			var ficha = $('#TbEmployeeId option:selected').val();
			ubicacion = 0;
			for (var i = 0; i < listCategoria.length; i++) {
				if (listCategoria[i].Situacion != "TS" && listCategoria[i].Ficha == ficha) {
					$(".div-aval").hide();
					$("#AvalKey").rules("add", {
						required: false
					});
					$("#DebitAval").rules("add", {
						required: false
					});
					break;
				}
				if (listCategoria[i].Situacion == "TS" && listCategoria[i].Ficha == ficha) {
					$(".div-aval").show();
					$("#AvalKey").empty();

					//$('#AvalKey').append($('<option>', { value: "" }).text("Seleccione"));
					var id = listConjunto[i];
					var data = $.grep(listConjunto, function (e) {
						return e.Ficha != id.Ficha;
					});
					$.each(data, function (key, value) {
						$('#AvalKey')
							.append($("<option></option>")
								.attr("value", value.Ficha)
								.text(value.Name));
					});


					$("#DebitAval").rules("add", {
						required: true
					});
					$('#AvalKey').chosen({ allow_single_deselect: true, width: '100%' });

					$("#AvalKey").val('').trigger('chosen:updated');
					$("#AvalKey").attr("required", "required");
					break;
				}
			}
			for (var i = 0; i < listCategoria.length; i++) {
				if (listCategoria[i].Ubicacion == "TIERRA" && listCategoria[i].Ficha == ficha) {
					ubicacion = 1;
					$("#Location").val(1);
					break;
				} else {
					ubicacion = 2;
					$("#Location").val(2);
					break;
				}

			}
		}
		function calculadora() {
			var cantidad = $('#Amount').val();
			var porcentaje = $("#AdministrationExpenses").val();
			var sumaMeses = parseFloat($('#PaymentsPeriod').val()) + parseFloat($('#AdditionalMonths').val());
			var tasaDescuento = $("#DiscountRate").val();
			var montoCantidad = TransforMoney(cantidad);

			var result = (parseFloat(montoCantidad) * parseFloat(porcentaje)) / 100;

			var resultDescuento = (parseFloat(montoCantidad) * parseFloat(tasaDescuento)) / 100;//1,500.00
			var resultMeses = parseFloat(resultDescuento) * parseFloat(sumaMeses);//16,500.00
			var totalpagar = parseFloat(montoCantidad) + parseFloat(resultMeses) + parseFloat(result);
			var pago = 0;
			if (ubicacion === 1) {
				pago = parseFloat(totalpagar) / 20;
			}
			if (ubicacion === 2) {
				pago = (parseFloat(totalpagar) / 20) * 2;
			}
			if (!isNaN(result))
				$("#AdministrationExpensesResult").val(result).formatCurrency();

			if (!isNaN(totalpagar) && !isNaN(pago))
				$("#TotalPay").val(totalpagar).formatCurrency(); $("#AbonoCatorcenalMensual").val(pago).formatCurrency();
			pago = 0;
		}
	</script>
}