﻿@using Microsoft.AspNet.Identity;
	<ul class="nav">
		<li class="nav-item dropdown order-first order-lg-last">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<div class="pl-1">
					<span class="d-inline-block bgc-danger p-2 radius-round text-center w-6 h-6 mr-3">
						<i class="fa fa-user text-white text-180 d-inline-block " aria-hidden="true"></i>
					</span>
				</div>
				<span class="d-inline-block d-lg-none d-xl-inline-block">
					<span class="text-90" id="id-user-welcome">Welcome,</span>
					<span class="nav-user-name">@User.Identity.Name</span>
				</span>

				<i class="caret fa fa-angle-down d-none d-xl-block" aria-hidden="true"></i>
				<i class="caret fa fa-angle-left d-block d-lg-none" aria-hidden="true"></i>
			</a>

			<div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
				<div class="d-none d-lg-block d-xl-none">
					<div class="dropdown-header">
						Welcome, @User.Identity.Name
					</div>
					<div class="dropdown-divider"></div>
				</div>

				<a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="@Url.Action("EditMyData","AccountUser")/@User.Identity.GetUserId()">
					<i class="fa fa-user-edit text-dark text-110 mr-1" aria-hidden="true"></i>
					Editar Mis Datos
				</a>

				<a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="@Url.Action("ChangePassword","AccountUser")">
					<i class="fa fa-user-secret text-dark text-110 mr-1" aria-hidden="true"></i>
					Cambiar Contraseña
				</a>

				<div class="dropdown-divider brc-primary-l2"></div>

				<a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="@Url.Action("LogOff","Login")">
					<i class="fa fa-power-off text-danger text-110 mr-1" aria-hidden="true"></i>
					Cerrar Sesión
				</a>
			</div>
		</li><!-- /.nav-item:last -->
	</ul>
