.body-container {
    background-image: linear-gradient(#941a13, #231e1e);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.carousel-item > div {
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

/* these make sure in mobile devices, tab panes are not the same height (for example 'forgot' pane is not as tall as 'signup' page) */
@media (max-width: 767.98px) {
   .tab-sliding .tab-pane:not(.active) {
      max-height: 0 !important;
   }
   .tab-sliding .tab-pane.active {
      min-height: 90vh;
      max-height: none !important;
   }
}
.custom_background {
    background: rgba(255, 255, 255, 0.5);
    justify-content: center !important;
}

.custom_textLoading {
    font-size: 1.2em !important;
    font-weight: 700;
}